.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
}